<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Home Page</title>
<meta name="description" content="form to add new books">
<meta name="author" content="Mark Tyers">
<link href="style.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/profile">Profile</a></li>
<li><a href="/addPhotos">Add Photo</a></li>
<li><a href="/">Innovative</a></li>
<li><a href="/market">Market</a></li>
<li><a href="/logout">Log Out</a></li>
</ul>
</nav>
<p>
Innovative
</p>
<img src="http://c1.staticflickr.com/9/8450/8026519634_f33f3724ea_b.jpg" alt="keth"  style="width:35%"/>
<article>
<h1>Title - Kishi</h1>
<h2>Seller Name - Rishiketh </h2>
<h2> Price - 40$ </h2>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the   industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into  electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with th </p> 
</article>
<button> Send an Email </button>
</html>