
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Log In</title>
<meta name="description" content="Login Page">
<meta name="author" content="Rishiketh Prabhakr">
<link href="style.css" type="text/css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Abel|Amiko|Indie+Flower" rel="stylesheet"/>
</head>
<body>
<p>
Innovative
</p>
<section>
<h1>LogIn</h1>
<form  action="/login" method="post">
<p>Username:<br /><input type="text" name="user" placeholder="Username" value="{{user}}" autofocus></p>
<p>Password:<br /><input type="password" name="pass" placeholder="Password" value=""></p>
<p><input type="submit" value="Log in"></p>
<p><a href = "Register">Register</a></p>
</form>
</section>
</body>
</html>